:root{
  font-size: 10px;
}

* {
  font-family: "Unbounded", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

/*section-1-start*/
.title {
  font-size: 72px;
  color: white;
  max-width: 700px;
}
.circle-wrapper {
  display: flex;
  position: relative;
}

.circle {
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

.circle.left {
  background-color: aliceblue;
}

.circle.right {
  position: absolute;
  background-color: green;
  left: 70px;
  z-index: -2;
}
.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.primary-button {
  background-color: #b6ccfe;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 100px;
}
/*section-1-end*/

/*section-2-start*/

.medium-title {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.information {
  color: white;
  font-size: 20px;
}

.number {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.small-text {
  color: white;
  font-size: 16px;
}
.business-title{
  margin-bottom: 30px;
}
.business {
  display: flex;
  gap: 100px;
}

.about {
  max-width: 850px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*section-2-end*/

/*section-3-start*/
.info {
  max-width: 650px;
}
/*section-3-end*/

/*section-4-start*/
.medium-text {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.photo {
  height: 350px;
  filter: grayscale();
  margin-right: 40px;
}

.team {
  display: flex;
}
/*section-4-end*/

/*section-5-start*/

.enrollment {
  text-align: center;
}

.secondary-button {
  background-color: white;
}

.enrollement-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

