:root{
  --primary-black: #000;
  --primary-white: #fff; 
  --primary-red: #840032;
  --primary-button-bg: #b6ccfe;
  --primary-review-bg: #0d0d0d4d;
  --primary-review-border: rgba(255, 255, 255, 0.1);
  --primary-text: #b6ccfe;
  --primary-blue: #005377;
  --primary-yellow: #F1A208;
  --secondary-yellow: #D5C67A;
  --primary-green: #06A77D;
  --secondary-blue: #052F5F;
}


/* Spacing Classes */

.mt50 {
  margin-top: 50px;
}

.mr30 {
  margin-right: 30px;
}

.mt30 {
  margin-top: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mt70 {
  margin-top: 70px;
}

.mb100 {
  margin-bottom: 100px;
}

/* Typography classes */
.title {
  font-size: 72px;
  color: var(--primary-white);
  max-width: 700px;
}

.medium-title {
  color: var(--primary-white);
  font-size: 48px;
  font-weight: bold;
}

.small-text {
  color: var(--primary-white);
  font-size: 16px;
}

/* Layout classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Components -- Button */
.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.primary-button {
  background-color: var(--primary-button-bg);
}

a {
  text-decoration: none;
}