
/*error-page-start*/
.error-header {
    font-size: 24px;
    color: var(--primary-white);
  }
  
  .error-text {
    font-size: 60px;
    color: var(--primary-white);
  }
  
  .error-page {
    display: flex;
    flex-direction: row;
    padding: 120px 70px;
    flex-wrap: wrap;
  
  
  }
  
  .go-back-button {
    color: var(--primary-white);
    border-radius: 30px;
    background-color: var(--primary-black);
    font-size: 20px;
  }
  
  .homepage-button {
    border-radius: 30px;
    background-color: var(--primary-white);
    color: var(--primary-black);
    font-size: 20px;
  }
  
  .error-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
    flex-basis: 50%;
  }
  
  
  .button-wrapper {
    display: flex;
    gap: 20px;
  }
  
  body {
    background-color: var(--primary-red);
    height: 100vh;
  }
  
  .image-wrapper {
    flex-basis: 50%;
  }
  
  /*error-page-end*/
  /*error-page-responsive-start*/

  /*Mobile*/
  @media screen and (max-width: 576px){
    .error-text {
      font-size: 30px;
    }

    .error-header {
      font-size: 12px;
    }
    
    .go-back-button {
      font-size: 10px;
    }

    .homepage-button {
      font-size: 10px;
    }

    .image-wrapper {
      flex-basis: 100%;

      
    }

    .error-text-wrapper {
      flex-basis: 100%;
    }
  }

  /*Tablet*/
  @media screen and (min-width: 576px) and (max-width: 996px){
    .error-text {
      font-size: 45px;
    }
    
    .error-header {
      font-size: 18px;
    }

    .go-back-button {
      font-size: 15px;
    }

    .homepage-button {
      font-size: 15px;
    }

    .image-wrapper {
      flex-basis: 100%;
    }

      .error-text-wrapper {
      flex-basis: 100%;
    }
  }