
/*error-page-start*/
.error-header {
    font-size: 24px;
    color: white;
  }
  
  .error-text {
    font-size: 60px;
    color: white;
  }
  
  .error-page {
    display: flex;
    flex-direction: row;
    padding: 120px 70px;
    flex-wrap: wrap;
  
  
  }
  
  .go-back-button {
    color: white;
    border-radius: 30px;
    background-color: black;
    font-size: 20px;
  }
  
  .homepage-button {
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 20px;
  }
  
  .error-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
    flex-basis: 50%;
  }
  
  
  .button-wrapper {
    display: flex;
    gap: 20px;
  }
  
  body {
    background-color: var(--primary-red);
    height: 100vh;
  }
  
  .image-wrapper {
    flex-basis: 50%;
  }
  
  /*error-page-end*/
  /*error-page-responsive-start*/